.search {
  background-color: rgb(241, 227, 227);
  border-radius: 30px;
  padding: 5px;
  height: 35px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 15px;
  padding-left: 10px;
  align-items: center;
  border: 2px solid rgb(137, 218, 15);
  padding-right: 10px;

  &__icon {
    height: 70%;
  }
  &__input {
    border-radius: 10px;
    border: none;
    height: 90%;
    width: 100%;
    color: inherit;
    background-color: inherit;
    font-size: 20px;
  }
  &__btn {
    border: none;
    color: white;
    font-size: 20px;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
    &:disabled {
      background-color: gray;
    }
  }

  &__input:focus {
    outline: none;
  }
  &__handler {
    display: flex;
    gap: 10px;
  }
  &__delete-btn {
    border: none;
    background-color: rgb(232, 133, 133);
    cursor: pointer;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    &:hover {
      background-color: red;
    }
  }
}

.search__wrapper {
  display: flex;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}
